<!-- ベーステンプレートを適用する -->
{% extends 'base.html' %}
<!-- ヘッダ情報のページjタイトルを設定する -->
{% block title %}Reset password{% endblock %}

    {% block contents %}
    <!-- Bootstrapのグリッドシステム -->
    <div class="container">
        <!-- 行を配置　-->
        <div class="row">
            <!-- 列の上下パディングはpy-4 -->
            <div class="col py-4">
                <hr>
                <h3>パスワードをリセットしますか？</h3>
                <p>
                    登録済みのメールアドレスを登録してください。
                    パスワードリセットのリンクを記載したメールをすぐにお届けします。
                </p>
                <br>
                <!-- メールの送信のためのフォームを配置 -->
                <form action="" method="POST" class="text-center">
                    {% csrf_token %}
                    <!-- formに格納されているインプットボックスとラベル出力　-->
                    {{form}}
                    <!-- 送信ボタン -->
                    <input type="submit" value="メールを受けとる"　/><br>
                </form>
                <br>
                <!-- トップページへのリンク　-->
                <a href="{% url 'photo:index' %}">Photo Gallery</a>
                <hr>
            </div>
        </div>
    </div>
    {% endblock %}