<!-- 挿入位置に合わせて全体的にインデント -->
    <!-- 表示結果がページ分割されているかどうかを示すブール値です。　-->
    <!-- 具体的にはオブジェクトの戸数がpaginate_by と等しいか　-->
    <!-- それ以下の場合にはFalseにセットされます -->
    {% if is_paginated %}
    <!-- 左右の中央に配置　-->
    <ul class="pagination" style="justify-content:center">
        <!--
            前ページへのリンク
            Page.has_previous:前のページがある場合にTrueを返します
        -->
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link"
                href="?page={{ page_obj.previous_page_number }}"
                aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        <!--
            ページ数の表示
            paginator.page_range:[1,2,3,4]のように、1から始めるページ番号です
        -->
        {% for num in paginator.page_range %}
            <!--
                ページ番号が存在しない場合
                Page.number：１から数えたページ番号です
            -->
            {% if page_obj.number == num %}
                <li class="page-item active">
                    <span class="page-link">{{ num }}</span>
                </li>
            {% endif %}
        {% endfor %}
        
        <!--
            次ページへのリンク
            Page.has_next():次のページがある場合にTrueを返します
        -->
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link"
                    href="?page={{ page_obj.next_page_number }}"
                    aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
    {% endif %}
        